* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.profile-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}


h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}


.input-box {
    margin-bottom: 20px;
    text-align: left;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-box input, .input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #555;
}

.input-box textarea {
    height: 100px;
    resize: none;
}


input[type="file"] {
    padding: 5px;
}


.button-box {
    margin-top: 20px;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

.save-button:hover {
    background-color: #4cae4c;
}
